<?xml version="1.0"?>
<!--
    Erlaubte Tags:
<Programm titel="Konsole" programmname="cmd.exe" parameter="" pfad="" unsichtbar="false" />
<Untermenue titel="Wartungsprogramme" />
<Benutzer name="Master"/>
<Texteditor path="C:\Programme\Notepad++\Notepad++.exe"/>

XMLSP supports 1 byte entities in decimal and hex forms:
	&#145;
	&xb0;
By default, the parser supports the following entities: &lt; &gt; &amp; &apos;
&quot;. You may add more entites using Parser::add_entity(name, value):
	parser.add_entity("nbsp", 160);
-->

<Hauptmenue>
    <Programm titel="Windows Explorer in C:\"
              programmname="explorer.exe"
              parameter="c:"
              pfad="C:\Windows"
              icon="icons/file-manager.png"/>
    <Programm titel="Konsole"
              programmname="cmd.exe"
              parameter="/k echo Kommandozeile"
              pfad="C:\"
			  icon="icons/terminal.png"/>
    <Programm titel="Windows-Taskmanager"
              programmname="taskmgr.exe"/>
    <Untermenue titel="Systemwartung">
        <Programm titel="EasyCleaner"
                  programmname="EasyClea.exe"
                  parameter=""
                  pfad="C:\Programme\EasyCleaner\"
                  unsichtbar="true"/>
        <Programm titel="Spybot"
                  programmname="SpybotSD.exe"
                  pfad="C:\Programme\SPYBOT~1\"
                  unsichtbar="true" />
        <Programm titel="DiskDefrag"
                  programmname="diskdefrag.exe"
                  pfad="C:\Programme\AusLog~1\"
                  unsichtbar="true" />
        <Programm titel="Sophos Antivirus"
                  programmname="SavMain.exe"
                  pfad="C:\Programme\Sophos\Sophos Anti-Virus\"
                  unsichtbar="false"/>
        <Programm titel="Softwareverwaltung"
                  programmname="appwiz.cpl"/>
    </Untermenue>
    <Untermenue titel="Systemverwaltung">
        <Programm titel="Systemsteuerung"
			programmname="explorer.exe"
			parameter="::{20D04FE0-3AEA-1069-A2D8-08002B30309D}\::{21EC2020-3AEA-1069-A2DD-08002B30309D}"
			pfad="C:\Windows"/>
        <Programm titel="Registrierungseditor"
                  programmname="regedt32.exe"/>
        <Programm titel="Diensteverwaltung"
                  programmname="services.msc"/>
        <Programm titel="Computerverwaltung"
                  programmname="compmgmt.msc"/>
        <Programm titel="Geraetemanager"
                  programmname="devmgmt.msc"/>
        <Programm titel="Diskmanager / Datentraegerverwaltung"
                  programmname="diskmgmt.msc"/>
        <Programm titel="Systemeigenschaften"
                  programmname="sysdm.cpl"/>
        <Programm titel="msconfig"
                  programmname="msconfig"/>
    </Untermenue>
    <Untermenue titel="Benutzerverwaltung">
        <Programm titel="Interaktive Benutzerverwaltung"
                  programmname="control"
                  parameter="userpasswords2"/>
    </Untermenue>
    <Untermenue titel="Netzwerkkonfiguration">
		<Programm titel="Freigabemanager"
				  pfad="c:\windows\system32"
				  programmname="rundll32.exe"
				  parameter="ntlanui.dll,ShareManage"/>
		<Programm titel="Freigaben anzeigen"
				  programmname="Fsmgmt.msc"/>
		<Programm titel="Freigabeassistent"
				  programmname="shrpubw.exe"/>
		<Programm titel="Hosts editieren"
				  programmname="NOTEPAD.EXE"
				  pfad="C:\WINDOWS"
                  parameter="C:\WINDOWS\system32\drivers\etc\hosts"  />
    </Untermenue>
	<Untermenue titel="VPN">
		<Programm titel="VPN zur KU aufbauen"
				  programmname="startvpn.bat"
				  pfad="./subs/"/>
		<Programm titel="VPN zur KU beenden"
				  programmname="stopvpn.bat"
				  pfad="./subs/"/>
		<Programm titel="OpenVPN starten"
				  programmname="openvpn-gui.exe"
				  pfad="C:\Programme\OpenVPN\bin"/>
	</Untermenue>
</Hauptmenue>
<!--Texteditor pfad="C:\Programme\Notepad++\Notepad++.exe"/-->
<Texteditor pfad="C:\Programme\Notepad++\Notepad++.exe"></Texteditor>
<Benutzer name="Master"/>
