<?xml version="1.0"?>
<!-- 
    Erlaubte Tags an Beispielen:
<Programm titel="Konsole" programmname="cmd.exe" parameter="" pfad="" unsichtbar="false" icon="icons/terminal.png" />
<Untermenue titel="Wartungsprogramme" />
<Benutzer name="Master"/>

XMLSP supports 1 byte entities in decimal and hex forms:
	&#145;
	&xb0;
By default, the parser supports the following entities: &lt; &gt; &amp; &apos;
&quot;. You may add more entites using Parser::add_entity(name, value):
	parser.add_entity("nbsp", 160);
-->

<Hauptmenue>
    <Programm titel="Windows Explorer in C:\"
              programmname="explorer.exe"
              parameter="c:"
              pfad="C:\Windows"
              icon="icons/file-manager.png"/>
    <Programm titel="Konsole" 
              programmname="cmd.exe" 
              parameter="/k echo Kommandozeile" 
              pfad="C:\"
              icon="icons/terminal.png"/>
    <Programm titel="Windows-Taskmanager" 
              programmname="taskmgr.exe"
              icon="icons/taskmanager.png"/>
    <Untermenue titel="Windows-Verwaltung">
        <Programm titel="Systemsteuerung"
			programmname="explorer.exe"
			parameter="::{20D04FE0-3AEA-1069-A2D8-08002B30309D}\::{21EC2020-3AEA-1069-A2DD-08002B30309D}"
			pfad="C:\Windows" />
        <Programm titel="Registrierungseditor" 
                  programmname="regedt32.exe"/>
        <Programm titel="Diensteverwaltung" 
                  programmname="services.msc"
                  icon="icons/services.png"/>
        <Programm titel="Computerverwaltung" 
                  programmname="compmgmt.msc"/>
        <Programm titel="Geraetemanager" 
                  programmname="devmgmt.msc"/>
        <Programm titel="Diskmanager / Datentraegerverwaltung" 
                  programmname="diskmgmt.msc"/>
        <Programm titel="Systemeigenschaften" 
                  programmname="sysdm.cpl"/>
        <Programm titel="msconfig"
                  programmname="msconfig"/>
        <Programm titel="Softwareverwaltung" 
                  programmname="appwiz.cpl"/>
    </Untermenue>
    <Untermenue titel="Benutzerverwaltung">
        <Programm titel="Interaktive Benutzerverwaltung" 
                  programmname="control" 
                  parameter="userpasswords2"/>
        <!--Programm titel="Auflistung der Benutzer" 
                  programmname="ul.bat" 
                  pfad="./subs/"/>
        <Programm titel="Detaillierte Nutzerinformationen" 
                  programmname="ui.bat" 
                  pfad="./subs/"/>
        <Programm titel="Konto 'christian' Admin-Rechte geben" 
                  programmname="ua.bat" 
                  parameter="christian"
                  pfad="./subs/"/>
        <Programm titel="Konto 'christian' Admin-Rechte entziehen" 
                  programmname="ud.bat" 
                  parameter="christian"
                  pfad="./subs/"/-->
    </Untermenue>
    <Untermenue titel="Netzwerkkonfiguration">
		<Programm titel="Freigabemanager" 
				  pfad="c:\windows\system32"
				  programmname="rundll32.exe"
				  parameter="ntlanui.dll,ShareManage"/>
		<Programm titel="Freigabe erstellen" 
				  programmname="shrpubw.exe"/>
        <Programm titel="Firefox starten" 
                  programmname="firefox.exe" 
                  pfad="C:\Programme\MOZILL~1\" />  
		<Programm titel="Hosts editieren"
				  programmname="NOTEPAD.EXE"
				  pfad="C:\WINDOWS"
                  parameter="C:\WINDOWS\system32\drivers\etc\hosts"  />
    </Untermenue>
    <!--Untermenue titel="Wartungssoftware">
        <Programm titel="EasyCleaner" 
                  programmname="EasyClea.exe" 
                  pfad="./EasyCleaner/" 
                  unsichtbar="false"/>
        <Programm titel="Spybot" 
                  programmname="SpybotSD.exe" 
                  pfad="C:\Programme\SpybotSD\" 
                  unsichtbar="false" />
        <Programm titel="DiskDefrag" 
                  programmname="DiskDefrag.exe" 
                  pfad="C:\Programme\DiskDefrag\" 
                  unsichtbar="false" />
        <Programm titel="Sophos Antivirus" 
                  programmname="SavMain.exe" 
                  pfad="C:\Programme\Sophos\Sophos Anti-Virus\" 
                  unsichtbar="false"/>
    </Untermenue-->
	<!--Programm titel="SophosAV beenden" 
			  programmname="stopsophos.bat" 
			  pfad="./subs/"/-->  
	<!--Programm titel="Shutdown"
			  programmname="shutdown.exe"
			  pfad="./subs/Shutdown/"/--> 
</Hauptmenue>

<Texteditor pfad="C:\Programme\Notepad++\Notepad++.exe"></Texteditor>
<Benutzer name="Master"/>
